.form-control{
    border-radius: 5px;
    margin-left: 5px;
    width: 500px;
}
.navbar-brand{
    color: white;
    font-weight: 700;
}
.header{
    padding-left: 20px;
}
.material-icons{
  z-index: 10;
  position: relative;
  right: 5%;
  top: 31%;
    
}

.btn:hover{
    background-color: rgb(16, 185, 129);
}

.navbar{
    background-color: rgb(20, 120, 81);
}

