<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #146c4d;">
    <a [routerLink]="['/products']" class="navbar-brand" href="#"><strong style="color: #062919; padding-left: 40px;font-weight:bold;">    
       <i class="bi bi-bag-heart-fill" style="font-size: 24px; margin-right: 12px;"></i>Shopfy</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
   
     
        <form class="form-inline">
          <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Search Products, Brands and Categories..." aria-label="Search">
          <i class="material-icons" style="color: #757877;font-size: 18px;">search</i>
          <button class="btn btn-outline-secondary my-2 my-sm-0 btn-sm" type="submit">Search</button>

        </form>

      <!--<button class="btn btn-outline-light my-2 my-sm-0 " type="submit" style="margin-left: 1%;">
        Notifications <span class="badge badge-warning" style="color: rgb(255, 255, 255);">4</span>
  
      </button>-->



  
      <div class="dropdown">
        <button style="margin-left: 10px;" class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" color="" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
          </svg><span style="margin-left: 5px;color: #888a89;">Help</span>
        </button>
        <ul class="dropdown-menu" style="margin-top: 14px;">
          <li style="margin-top: 1px;"><button class="dropdown-item btn btn-success" type="button"><i class="bi bi-x-circle" style="font-size: 18px;"></i><span style="margin-left: 8px;">Order Cancellation</span></button></li>
          <li style="margin-top: 4px;"><button class="dropdown-item btn btn-success" type="button"><i class="bi bi-credit-card-2-front" style="font-size: 18px;"></i><span style="margin-left: 8px;">Return and Refunds</span></button></li>
          <li style="margin-top: 4px;"><button class="dropdown-item btn btn-success" type="button"><i class="bi bi-credit-card-2-back" style="font-size: 18px;"></i><span style="margin-left: 8px;">Payments</span></button></li>
          <li style="margin-top: 4px;"><div class="dropdown-divider"></div></li>
          <li style="margin-top: 4px;"><button class="dropdown-item btn btn-success" type="button"><i class="bi bi-telephone-outbound" style="font-size: 18px;"></i><span style="margin-left: 8px;">Talk to our Agents</span></button></li>


        

        </ul>
      </div>

      <div class="dropdown">
        <button style="margin-left: 10px;" class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" color="" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg><span style="margin-left: 5px;color: #909191;">{{accountUserName}}</span>
        </button>
        <ul class="dropdown-menu"  style="margin-top: 14px;">
          <li style="margin-top: 1px;"><button (click)="signIn()" class="dropdown-item btn btn-success" *ngIf="signin" type="button"><i class="bi bi-box-arrow-right" style="font-size: 18px;"></i><span style="margin-left: 8px;">Sign in</span></button></li>
          <li style="margin-top: 4px;"><button [routerLink]="['/account-profile']" class="dropdown-item btn btn-success" *ngIf="account" type="button"><i class="bi bi-person-vcard" style="font-size: 18px;"></i><span style="margin-left: 8px;">My Account</span></button></li>

          <li style="margin-top: 4px;"><button (click)="logOut()" class="dropdown-item btn btn-success" *ngIf="logout" type="button"><i class="bi bi-box-arrow-left" style="font-size: 18px;"></i><span style="margin-left: 8px;">LogOut</span></button></li>
          <li style="margin-top: 4px;"><div class="dropdown-divider" *ngIf="businessSettings" ></div></li>
          <li style="margin-top: 4px;"><button [routerLink]="['/item-management']" *ngIf="businessSettings" class="dropdown-item btn btn-success" type="button"><i class="bi bi-gear-fill" style="font-size: 18px;"></i><span style="margin-left: 8px;">Business Setting</span></button></li>
          

        </ul>
      </div>

      <button [routerLink]="['/cart']" class="btn btn-outline-success my-2 my-sm-0 btn-sm" type="submit" style="margin-left: 5px;">
        <span style="margin-right: 5px;font-size: 16px;">CheckOut</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="23" color="" height="23" fill="currentColor"
        class="bi bi-cart-check" viewBox="0 0 16 16">
        <path
          d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
        <path
          d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
      </svg>
  
      <div class="badge bg-danger">{{totalItemNumber}}</div>
  
      </button>


      <!--<i class="bi-alarm"></i>
      <i class="bi bi-window-x"></i>-->

    </div>
  </nav>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 20px;">
    <a class="navbar-brand" href="#"></a>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="bi bi-house" style="font-size: 15px;"></i><span style="margin-left: 5px;">Home</span> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
  
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Appliances</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SuperMarket</a>

        </li>
        <li class="nav-item">
          <a [routerLink]="['/products']" class="nav-link" href="#">Electronics</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/products']" class="nav-link" href="#">Computing</a>

        </li>
        <li class="nav-item">
          <a [routerLink]="['/products']" class="nav-link" href="#">Gaming</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/products']" class="nav-link" href="#">Fashion</a>

        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Product Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a [routerLink]="['/mens-fashion']" class="dropdown-item" href="#">Mens Fashion</a>
            <a [routerLink]="['/products']" class="dropdown-item" href="#">Ladies fashion</a>
            <a [routerLink]="['/products']" class="dropdown-item" href="#">Children</a>
          </div>
        </li>

        <li class="nav-item">
          <a [routerLink]="['/products']" class="nav-link" href="#">sports</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/products']" class="nav-link" href="#">Health and Beauty</a>

        </li>
        <li class="nav-item">
          <a  class="nav-link" href="#">Children</a>
        </li>

      </ul>
   
   
  
    </div>
  </nav>
</header>

