<div class="form-area">
<h3>user Details</h3>
<input type="text" placeholder="Name">
<input type="text" placeholder="email">
<textarea name="" id="" cols="30" rows="10"></textarea>
<div>

    <ng-container>
        <div class="card-table" style="max-width: 1500px; border-color: black; align-items: center;">
            <div class="card-product" style="max-width: 1500px;border-color: black;">
                <div style="border-color: black;">
                    <table class="table table-responsive table-bordered " style="border-color: black;">
                    <thead>
                        <tr>
                            <th>Sr.no</th>
                            <th>Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
        
                        </tr>
                    </thead>
                    
                    <tbody>
        
        
                        <tr *ngFor="let item of products, let i = index">
                            <td>{{i+1}}</td>
                            <td class="itemdata">{{item.title}}</td>
                            <td><img src="{{item.image}}" style="width: 120px;max-height: 120px;" alt=""></td>
                            <td class="itemdata" style="width: 20%;">{{item.description}}</td>
                            <td >{{item.price}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.total}}</td> 
                            <td><button class="btn btn-danger"  (click)="removeProduct(item)" > <mat-icon>delete</mat-icon></button></td>
        
                        </tr>
            
                    </tbody>
                </table>
   
            </div></div>
        </div>
        
        </ng-container>
