.card-img-top{
    transition: 0.3s ease;

}
.card-img-top:hover{
    width: 108%;
}

.card{
    padding: 25px;
    margin: 25px;
    height: 60vh;
    border:1px solid rgb(255, 255, 255);
    border-radius: 50px;


}

.card-title{
    font-size: 30px;
    font-weight: 800;
    line-height: 1.5;
}

.itemdata{


    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    color: rgb(4, 44, 35);
    white-space:break-spaces
    nowrap;overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
}

.btn{
    border-radius: 24px;;
}
.content{
    margin-top: 50px;
    padding: 20px;
    border-radius: 50px;

}
.center{
    top: 50%;
    left:50%;
    transform: translate(-45%, -45%);
    text-align: center;
    position: absolute;
}

.cartItemControl{
    display: flex;
    float: auto;
}


.row-container {
    display: flex; /* Use Flexbox */
  }

.item {
    /* Optional: Add styling for individual items */
    padding: 10px;
    margin-right: 10px;
  }

.center img{
    color: inherit;
    border: none;
    outline: none;
    width: 200px;
    height: 220px;
    text-decoration: none;
    margin: 20px 0px;
}
.card-table{
    display:flex;
    min-width: none;
    position: relative;
    word-wrap: break-word;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: .25rem;
    flex-direction: column;
}
.center .btn{
    margin-top: 25px !important;
    font-size: 15px !important;
    font-weight:400;
    padding: 10px 70px;
    border-radius: 3px !important;
}

/* app.component.css */
.table-responsive {
    max-height: 450px; /* Set a maximum height for the table container */
    overflow-y: auto;
  }
  

  .cart-top{
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(253, 253, 253);
    background-clip: border-box;
    position: relative;
    flex-direction: row;
    border: 1px solid black;
    border-radius: .25rem;
    padding: 15px;
}
.card-title{
    color: rgb(37, 41, 54);
}



.itemdata{
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    color: rgb(4, 44, 35);
    white-space: 
    nowrap;overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
}

.btn{
    border-radius: 24px;
}

.card{
    padding: 20px;
    margin: 30px;
    min-width: 250px;
    border-radius: 22px;
    border-color: rgba(204, 217, 213, 0.762);
}

.card img{
    width: 130px;
    height: 130px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;

}

.card img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);


}