.card{
    padding: 25px;
    margin: 25px;
    height: 30vh;
    border:1px solid rgb(255, 255, 255);
    border-radius: 50px;


}
.bi-dash-circle:hover{
    color: rgb(218, 34, 34);
}

.bi-plus-circle:hover{
    color: rgb(24, 143, 66);
}
.bi-plus-circle{
    cursor: pointer;
    font-size: 18px;
}
.bi-dash-circle{
    cursor: pointer;
    font-size: 18px;
}


.itemdata{
    overflow-wrap: break-word;
    max-width: 40ch;
}


.content{
    margin-top: 50px;
    padding: 20px;
    border-radius: 50px;

}
.center{
    top: 50%;
    left:50%;
    transform: translate(-45%, -45%);
    text-align: center;
    position: absolute;
}

.cartItemControl{
    display: flex;
    float: auto;
}
.row-container{
    align-items: end;
}


.row-container {
    display: flex; /* Use Flexbox */
  }

.item {
    /* Optional: Add styling for individual items */
    padding: 10px;
    margin-right: 10px;
  }

.center img{
    color: inherit;
    border: none;
    outline: none;
    width: 200px;
    height: 220px;
    text-decoration: none;
    margin: 20px 0px;
}
.table{
    min-width: none;
    position: relative;
    word-wrap: break-word;
    background-color: white;
}


/* app.component.css */
.table-responsive {
    max-height: 450px; /* Set a maximum height for the table container */
    overflow-y: auto;
  }

  .form-area{
    text-align: center;
  }
  

/* Style for the container */
.number-input {
    display: flex;
    align-items: center;
  }

  /* Style for the plus and minus buttons */
  .number-input button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
  }

  .number-input button:focus {
    outline: none;
  }

  /* Style for the plus and minus icons */
  .number-input .minus::before {
    content: "\f068"; /* Font Awesome icon code for minus */
    font-family: "Font Awesome 5 Free";
  }
  .plus::before{
    background-color: green;
  }

  .number-input .plus::before {
    content: "\f067"; /* Font Awesome icon code for plus */
    font-family: "Font Awesome 5 Free";
  }

  /* Style for the quantity */
  .quantity {
    font-size: 24px;
    margin: 0 10px;
  }