<!--<button (click)="opennew()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalx">
    Open Modal
  </button>-->


  

<div class="modal" id="myModalDeleteWarningSingleItem" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" style="background-color: red;">
                <h5 class="modal-title" id="myModalLabel" style="font-size: 20px;color:rgb(255, 255, 255);">
                    <strong><i class="bi bi-x-circle" style="margin-right: 5px;font-size: 20px;"></i>Delete
                        Item</strong>
                </h5>
            </div>
            <div class="modal-body">
                <h4><strong>Title: {{titleSingleItem}}</strong></h4>
                <h4>Do you really want to delete this item now</h4>
                <h4>once the item is deleted you will not be able to recover its data</h4>

                <button (click)="deleteProduct()" type="button" class="btn btn-outline-danger btn-sm"
                    [disabled]="isButtonDisabled"><i class="bi bi-trash-fill" style="margin-right: 3px;"></i>
                    Proceed to
                    delete this item</button>

                <br><br>

                <div *ngIf="showDiv" style="font-size: 15px;background-color: red;padding: 30px;border-radius: 12px;">
                    <h5 style="color: white;font-size: 20px;">item deleted successfully</h5>
                    <h5 style="color: white;font-size: 20px;">click save changes below to update</h5>
                    <!-- Content of the div you want to show -->
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="reopenClose()" type="button" class="btn btn-outline-danger btn-sm"
                    data-dismiss="modal"><i class="bi bi-x-circle" style="margin-right: 5px;"></i>Close</button>

                <button (click)="reopen()" type="button" class="btn btn-danger btn-sm"><i class="bi bi-arrow-clockwise"
                        style="margin-right: 5px;"></i>Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!-- bootstrap-modal.component.html -->
<div class="modal" id="myModalDeleteWarning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel" style="font-size: 20px;color:red;"><strong>Delete All
                        Items</strong></h5>
                <button (click)="closeModalDeleteWarning()" type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <h4>Do you realy want to delete all items now</h4>
                <h4>once items are deleted you will not be able to recover this data</h4>

                <button (click)="deleteAllProduct()" type="button" class="btn btn-outline-danger btn-sm"
                    [disabled]="isButtonDisabled">Yes Proceed to
                    delete all Items</button>

                <br><br>

                <div *ngIf="showDivAll"
                    style="font-size: 15px;background-color: red;padding: 30px;border-radius: 12px;">
                    <h5 style="color: white;font-size: 20px;">All items deleted successfully</h5>
                    <h5 style="color: white;font-size: 20px;">click save changes below to update</h5>

                    <!-- Content of the div you want to show -->
                </div>

            </div>
            <div class="modal-footer">
                <button (click)="closeModalDeleteWarning()" type="button" class="btn btn-danger btn-sm"
                    data-dismiss="modal"><i class="bi bi-x-circle" style="margin-right: 5px;"></i>Close</button>
                <button (click)="reopen()" type="button" class="btn btn-outline-danger btn-sm"><i
                        class="bi bi-arrow-clockwise" style="margin-right: 5px;"></i>Save Changes</button>

            </div>
        </div>
    </div>
</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" style="min-width: 800px;">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(25, 136, 90);">
                <h5 class="modal-title" id="myModalLabel" style="color: white;font-size: 25px;"><i
                        class="bi bi-arrow-up-circle" style="font-size: 25px;margin-right: 7px;"></i>{{editModal ?
                    'Update Item' : 'Add New Item'}}</h5>
                <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form #usersForm="ngForm" (ngSubmit)="getUserFormData(usersForm.value)">

                    <div class="mb-3">



                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="exampleFormControlInput1" class="form-label">Product Number</label>
                                <input type="text" ngModel name="number" class="form-control form-control-sm"
                                    id="exampleFormControlInput1" placeholder="Enter product number">
                            </div>
                            <div class="form-group col-md-6">

                                <label for="exampleFormControlInput1" class="form-label">Product Title</label>
                                <input type="text" ngModel name="title" class="form-control form-control-sm"
                                    id="exampleFormControlInput1" placeholder="Enter product title">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">

                                <label for="exampleFormControlInput1" class="form-label">Product
                                    Price</label>
                                <input type="number" ngModel name="price" class="form-control form-control-sm"
                                    id="exampleFormControlInput1" placeholder="Enter product price">
                            </div>

                            <div class="form-group col-md-6">

                                <label for="exampleFormControlInput1" class="form-label">Category</label>
                                <input type="text" ngModel name="category" class="form-control form-control-sm"
                                    id="exampleFormControlInput1" placeholder="Enter product Category">
                            </div>
                        </div>

                        <label for="exampleFormControlInput1" class="form-label">Product Image
                            Url</label>
                        <input type="text" ngModel name="image" class="form-control form-control-sm"
                            id="exampleFormControlInput1" placeholder="Enter product Image Url">



                        <label for="exampleFormControlTextarea1" style="margin-top: 10px;" class="form-label">Product
                            Description</label>
                        <textarea class="form-control form-control-sm" ngModel name="description"
                            id="exampleFormControlTextarea1" placeholder="Enter product description"
                            rows="3"></textarea>



                    </div>


                    <!-- <input type="text" ngModel name="number" placeholder="Enter number">
                    <br><br>
                    <input type="text" ngModel name="title" placeholder="Enter title">
                    <br><br>
                    <input type="text" ngModel name="category" placeholder="Enter category">
                    <br><br>
                    <input type="text" ngModel name="description" placeholder="Enter description">
                    <br><br>
                    <input type="text" ngModel name="price" placeholder="Enter price in USD">
                    <br><br>
                    <input type="text" ngModel name="image" placeholder="Enter image url">
                    <br><br>

                    <button type="submit" value="">{{editModal ? 'Update Item' : 'Add Item'}}</button>-->
                    <button type="submit" class="btn btn-success btn-sm" [disabled]="isButtonDisabled"><i
                            class="bi bi-arrow-up-circle" style="margin-right: 5px;"></i>{{editModal ? 'Update Item' :
                        'Add New Item'}}</button>


                    <br><br>
                    <div *ngIf="showDivAddToDataBase"
                        style="font-size: 15px;background-color: rgb(11, 155, 112);padding: 30px;border-radius: 12px;">
                        <h5 style="color: white;font-size: 20px;">Item Saved successfully</h5>
                        <h5 style="color: white;font-size: 20px;">click save changes below to update</h5>

                        <!-- Content of the div you want to show -->
                    </div>

                    <div *ngIf="showDivUpdated"
                        style="background-color: rgb(10, 152, 100);padding-top: 10px;border-radius: 8px; padding-bottom: 1px;padding-right: 10px;padding-left: 10px">
                        <h4 style="color: white;font-size: 20px;">Item Updated successfully, click save changes below to
                            update</h4>

                        <!-- Content of the div you want to show -->
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button (click)="closeModalForAdd()" *ngIf="closeModalAdd" type="button" class="btn btn-danger btn-sm"
                    data-dismiss="modal"><i class="bi bi-x-circle" style="margin-right: 5px;"></i>Close</button>
                <button (click)="closeModalForUpdate()" *ngIf="closeModalUpdate" type="button"
                    class="btn btn-danger btn-sm" data-dismiss="modal"><i class="bi bi-x-circle"
                        style="margin-right: 5px;"></i>Close</button>
                <button (click)="reopen()" type="button" class="btn btn-outline-success btn-sm"><i
                        class="bi bi-arrow-clockwise" style="margin-right: 5px;"></i>Save changes</button>
            </div>
        </div>
    </div>
</div>


<div style="padding-left: 50px;padding-right: 50px;padding-top: 0px;padding-bottom: 10px;">
    <ng-container *ngIf="productList.length !=0; else noData">

        <div style="display: flex;align-items: end;padding-bottom: 10px;display: flex; justify-content: space-between;padding-top: 10px;">

         <div>
            <button (click)="openModal()" class="btn btn-outline-success btn-sm" data-toggle="modal"
                data-target="#myModal"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; ">
                <span>
                    <i class="bi bi-bag-plus-fill"></i>
                </span>
                <span style="margin-left: 3px;">
                    Add New Item
                </span>

            </button>

            <!--<button class="btn btn-primary" (click)="openModal()">Open Modal</button>-->

            <button (click)="openModalDeleteWarning()" class="btn btn-outline-danger btn-sm" data-toggle="modal"
                data-target="#myModalDeleteWarning"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; margin-left: 5px;">

                <span>
                    <i class="bi bi-trash-fill"></i>

                </span>
                <span style="margin-left: 3px;">
                    Delete All Items
                </span>
            </button>

        </div>
        
        <div> 
            <div style="display: flex;align-items: end;display: flex; margin-right: 5px;">







            <select class="form-select btn-sm" aria-label="Default select example" style="width: 120px; border-color: rgb(191, 191, 191);margin-right: 5px;" name="pageSize" [(ngModel)]="itemsPerPage">
                <option selected >10 per page</option>
                <option [ngValue]="1">1 per page </option>
                <option [ngValue]="4">4 per page </option>
                <option [ngValue]="8">8 per page </option>
                <option [ngValue]="10">10 per page </option>
                <option [ngValue]="20">20 per page </option>
                <option [ngValue]="100">100 per page </option>
                <option [ngValue]="productList.length">All Items</option>

            </select>

            <div class="dropdown" >
                <button (click)="buttonClickIconChange()" class="btn btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="border-color: rgb(191, 191, 191);">
                    <i class="bi bi-save" style="margin-right: 5px;"></i>
                    Save
                    <i class="{{iconChange}}" style="font-size: 14px;font-weight: bold;color: black;"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Save as Excell</a></li>
                  <li><a class="dropdown-item" href="#">PDF</a></li>
                  <li><a class="dropdown-item" href="#">Word Document</a></li>
                </ul>
              </div>

            <button
            type="button"
            class="btn ms-2 btn-sm"
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed"
            (click)="hideShowPassword()"
            aria-controls="collapseExample" style="border-color: rgb(191, 191, 191);">
            
            <i class="{{eyeIcon}}" style="font-size: 13px;margin-right: 3px;"></i>
            Filter
            <i class="{{eyeIconDrop}}" style="font-size: 14px;font-weight: bold;color: black;"></i>



          </button>



            </div>
            <div>
 
            </div>


        </div>     
        

            <!--<button class="btn btn-outline-danger btn-sm"
            style="margin-left: 5px;">

            <div class="mb-3 row">
                <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
                <div class="col-xs-3 col-sm-auto">
                    <input
                        id="table-complete-search"
                        type="text"
                        class="form-control"
                        name="searchTerm"
                        [(ngModel)]="service.searchTerm"
                    />
                </div>
                <span class="col col-form-label" *ngIf="service.loading$ | async">Loading...</span>
            
            </div>
        </button>-->


     

        </div>
        <div *ngIf="!isCollapsed">
            <div style="border-color: black;">
                <form><br>
                    <div class="form-row">
      

                      <div class="col-md-3 mb-3">
                        <label for="validationServer01">Category</label>
                        <select class="form-select btn-sm" id="inputGroupSelect01">
                          <option selected>Choose Category...</option>
                          <option value="1">Mens Clothing</option>
                          <option value="2">Children ware</option>
                          <option value="3">Women Gamets</option>
                        </select>
                      </div>

                      <div class="col-md-3 mb-3">
                        <label for="validationServer01">Category</label>
                        <select class="form-select btn-sm" id="inputGroupSelect01">
                          <option selected>Choose Category...</option>
                          <option value="1">Mens Clothing</option>
                          <option value="2">Children ware</option>
                          <option value="3">Women Gamets</option>
                        </select>
                      </div>

                      <div class="col-md-3 mb-3">
                        <label for="validationServer01">Category</label>
                        <select class="form-select btn-sm" id="inputGroupSelect01">
                          <option selected>Choose Category...</option>
                          <option value="1">Mens Clothing</option>
                          <option value="2">Children ware</option>
                          <option value="3">Women Gamets</option>
                        </select>
                      </div>

                      <div class="col-md-3 mb-3">
                        <label for="validationServer01">Category</label>
                        <select class="form-select btn-sm" id="inputGroupSelect01">
                          <option selected>Choose Category...</option>
                          <option value="1">Mens Clothing</option>
                          <option value="2">Children ware</option>
                          <option value="3">Women Gamets</option>
                        </select>
                      </div>

         

                    </div>
               
            
                    <button class="btn btn-outline-success btn-sm" type="submit">Submit form</button>
                  </form><br>
                
                </div>
          </div>
          

        <div style="max-height: 300px;">
        
            <table class="table-responsive table-bordered " style="border-top-left-radius: 10px;border-top-right-radius: 10px;">
                <thead class="table-success">
                    <tr>
                        <th style="width: 4%;">ID</th>
                        <th style="width: 11%;">Number</th>
                        <th class="itemdata" style="width: 13%;">Title</th>
                        <th class="itemdata" style="width: 10%;">Category</th>
                        <th style="width: 12%;">Image</th>
                        <th class="itemdata" style="width: 26%;">Description</th>
                        <th style="width: 0.2%">Price</th>
                        <!--<th>creationDate</th>-->
                        <th class="itemdata" style="width: 15%;">Action</th>


                    </tr>
                </thead>
            </table>
            <table class="table table-responsive table-bordered " style="border-bottom-left-radius: 10px;border-bottom-right-radius:10px;max-height: 420px;">

                <tbody>


                    <tr *ngFor="let item of productList | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
                        <td style="width: 4%;">{{item.id}}</td>
                        <td style="width: 11%;">{{item.number}}</td>
                        <td class="itemdata" style="width: 13%;">{{item.title}}</td>
                        <td class="itemdata" style="width: 10%;">{{item.category}}</td>
                        <td style="width: 12%;"><img src="{{item.image}}" style="width: 90px;max-height: 90px;" alt="">
                        </td>
                        <td class="itemdata" style="width: 26%;">{{item.description }}</td>
                        <td style="width: 0.2%;">${{item.price}}</td>
                        <!--<td>{{item.creationDate}}</td>-->


                        <td class="itemdata" style="width: 15%;">

                            <button (click)="openMyModalDeleteWarningSingleItem(item.id,item.title)" data-toggle="modal"
                                data-target="#myModalDeleteWarningSingleItem" type="button"
                                class="btn btn-outline-danger btn-sm"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; ">
                                <span>
                                    <i class="bi bi-trash-fill"></i>
                                </span>
                                <span style="margin-left: 3px;">
                                    Delete
                                </span>

                            </button>

                            <button (click)="editProduct(item.id)" class="btn btn-outline-success btn-sm"
                                data-toggle="modal" data-target="#myModal" type="button"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; margin-left: 5px;">

                                <span>
                                    <i class="bi bi-pencil-square"></i>

                                </span>
                                <span style="margin-left: 3px;">
                                    Edit
                                </span>
                            </button>

                        </td>

                    </tr>

                </tbody>




            </table>
            <div class="has-text-centered" style="display: flex;align-items: end;display: flex; justify-content: space-between;">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
   
            </div>
            <br>
            <br>
            <br>

        </div>


    </ng-container>



    <ng-template #noData>
        <div class="container">
            <div class="card">
                <h4 class="card-title">Product List</h4>
            </div>


            <div class="center">

                <i class="bi bi-cart4" style="font-size: 10rem; color: rgb(26, 150, 109);"></i>
                <br><br><br>
                <h5 style="font-size: 2rem;">Your Product List is empty</h5><br>
                <h6 style="font-size: 1rem;">Add items now</h6>

                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
                    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
                    crossorigin="anonymous" />


                <div class="container">

                    <button (click)="openPopup()" type="button" class="btn btn-success"
                        style="border-radius: 15px;font-size: 1rem;">
                        Add New Items Now

                    </button>
                </div>
            </div>
        </div>
    </ng-template>

</div>