<div class="container" style="align-items: center;margin-top: 50px;">
    <p style="font-size: 30px;">Hello Mr. {{name}}</p>
    <p style="font-size: 20px;">Welcome back</p>
    <p style="font-size: 13px;">email: {{email}}</p>
    <p style="font-size: 13px;">user name: {{name}}</p>

</div>

