<section class="vh-100" style="background-color: #45907e;">
    <div class="container py-5 h-100" style="border-radius: 18px;">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-12">
                <div class="card" style="border-radius: 3rem;">
                    <div class="row g-0">
                        <div class="col-md-4 col-lg-4 d-none d-md-block">
                            <img src="assets/images/Secure login-rafiki.png" alt="login form" class="img-fluid"
                                style="border-radius: 1rem 0 0 1rem;margin-left: 30px;margin-top: 30px;margin-top: 50px;" />

             
                        </div>
                        <div class="col-md-8 col-lg-8 d-flex align-items-center">
                            <div class="card-body p-3 p-lg-5 text-black">

                                <form #usersForm="ngForm" (ngSubmit)="getUserFormDataSignUp(usersForm.value)">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="bi bi-bag-heart-fill"
                                            style="font-size: 40px; margin-right: 12px;color: #479c87;"></i>
                                        <span class="h1 fw-bold mb-0">Shop<strong
                                                style="color: #39a58e;margin-right: 5px;">Fii</strong></span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;font-size: 20px;">Create a ShopFii account</h5>

                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="bi bi-person-circle" style="font-size:20px; color: #39a58e;"></i> </span>
                                         </div>
                                        <input ngModel name="username" class="form-control form-control-sm" placeholder="Enter username" type="text">
                                    </div>

                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="bi bi-envelope-fill" style="font-size:20px; color: #39a58e;"></i> </span>
                                         </div>
                                         <input ngModel name="email" class="form-control form-control-sm" placeholder="Enter email" type="text">

                                    </div>
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="bi bi-person-fill-lock" style="font-size:20px; color: #39a58e;"></i> </span>
                                         </div>
                                         <input ngModel name="password" class="form-control form-control-sm" placeholder="Enter password" [type]="type" required>
                                         <span  class="input-group-text"> <i class="{{eyeIcon}}" style="font-size:20px; color: #39a58e;" (click)="hideShowPassword()"></i> </span>


                                    </div>

                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="bi bi-person-fill-lock" style="font-size:20px; color: #39a58e;"></i> </span>
                                         </div>
                                         <input ngModel name="retypepassword" class="form-control form-control-sm" placeholder="Re-enter password to confirm" [type]="typeRetype" required>
                                         <span  class="input-group-text"> <i class="{{eyeIconRetype}}" style="font-size:20px; color: #39a58e;" (click)="retypeHideShowPassword()"></i> </span>
                                    </div>
                   
                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-success btn-lg btn-block" type="submit"
                                            style="background-color: #479c87;border-radius: 24px;border-color: #479c87;">Create Account</button>
                                    </div>
                                    <span style="color: #3e4343;margin-left: 20px;">Already have a ShopFi account? <a
                                            href="#!" style="color: #39a58e;" [routerLink]="['/login']">Login here</a>
                                    </span><br><br>


                    
                
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>