.cart-top{
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(253, 253, 253);
    background-clip: border-box;
    position: relative;
    flex-direction: row;
    border: 1px solid black;
    border-radius: .25rem;
    padding: 15px;
}
.card-title{
    color: rgb(5, 60, 223);
}



.itemdata{
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    color: rgb(4, 44, 35);
    white-space: 
    nowrap;overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
}

.btn{
    border-radius: 24px;
}

.card{
    padding: 10px;
    margin: 10px;
    max-width: 190px;
    border-radius: 22px;
    border-color: rgba(204, 217, 213, 0.762);
}

.card img{
    width: 130px;
    height: 130px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;

}

.card img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);


}