<section class="vh-100" style="background-color: #45907e;">
    <div class="container py-5 h-100" style="border-radius: 18px;">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-8">
                <div class="card" style="border-radius: 3rem;">
                    
                    <div class="row g-0">


           
                        <div class="col-md-12 col-lg-12 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <div class="d-flex align-items-center mb-3 p-1">
                                    <i class="bi bi-bag-heart-fill"
                                        style="font-size: 40px; margin-right: 12px;color: #479c87;"></i>
                                    <span class="h1 fw-bold mb-0">Shop<strong
                                            style="color: #39a58e;margin-right: 5px;">Fii</strong></span>
                                </div>

                                <form #usersForm="ngForm" (ngSubmit)="getUserFormData(usersForm.value)">



                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;font-size: 20px;">Reset your Password!</h5>
    

                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="bi bi-envelope-fill" style="font-size:20px; color: #39a58e;"></i> </span>
                                         </div>
                                         <input ngModel name="email" class="form-control" placeholder="Enter email" type="text">


                                    </div>
                   

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-success btn-lg btn-block" type="submit"
                                            style="background-color: #479c87;border-radius: 24px;border-color: #479c87;">Reset Password</button>
                                    </div>

                                    <span style="color: #165047;font-size: 15px;">
                                        <a style="color: #39a58e;" [routerLink]="['/login']"> Back to Login</a>
                                    </span><br><br>

                           



                                    <a  class="small text-muted">Terms of use.</a>
                                    <a  class="small text-muted">Privacy policy</a>
                                </form>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>










<!--<form #usersForm="ngForm" (ngSubmit)="getUserFormData(usersForm.value)">

    <div class="mb-3">



        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="exampleFormControlInput1" class="form-label">Product Number</label>

                <input type="text" ngModel name="number" class="form-control form-control-sm"
                    id="exampleFormControlInput1" placeholder="Enter product number">

            </div>
            <div class="form-group col-md-6">

                <label for="exampleFormControlInput1"
                    class="form-label">Product Title</label>
                <input type="text" ngModel name="title" class="form-control form-control-sm"
                    id="exampleFormControlInput1" placeholder="Enter product title">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">

        <label for="exampleFormControlInput1" class="form-label">Product
            Price</label>
        <input type="number" ngModel name="price" 
            class="form-control form-control-sm" id="exampleFormControlInput1"
            placeholder="Enter product price">
        </div>

        <div class="form-group col-md-6">

        <label for="exampleFormControlInput1"
            class="form-label">Category</label>
        <input type="text" ngModel name="category" 
            class="form-control form-control-sm" id="exampleFormControlInput1"
            placeholder="Enter product Category">
        </div>
    </div>

    <label  for="exampleFormControlInput1" class="form-label">Product Image
        Url</label>
    <input type="text" ngModel name="image" 
        class="form-control form-control-sm" id="exampleFormControlInput1"
        placeholder="Enter product Image Url">



        <label for="exampleFormControlTextarea1" style="margin-top: 10px;"
            class="form-label">Product Description</label>
        <textarea class="form-control form-control-sm" ngModel name="description"
            id="exampleFormControlTextarea1" placeholder="Enter product description" rows="3"></textarea>



    </div>


    <button type="submit" class="btn btn-success btn-sm"><i class="bi bi-arrow-up-circle" style="margin-right: 5px;"></i>signup</button>




</form>-->
