<div class="row" style="padding-left: 125px;padding-top: 20px;color: rgb(19, 137, 98);">
    <p><strong style="color: rgb(15, 129, 68);">Category: <span class="badge badge-success" style="margin-left:5px;font-size: 15px;">Men's Fashion</span></strong></p>
</div>

<div class="container">
    <div class="row">
        <ng-container  *ngFor="let item of productList">
            
            <div class="card col-md-3" *ngIf="item.category === 'men\'s clothing'">
                
                
                <img src="{{item.image}}" alt="" style="width: 140px;height: 140px;">
                <h5 class="card-title">{{item.title}}</h5>

                <p class="itemdata">{{item.description}}</p>
                <div class="dropdown-divider"></div>

                <p><strong>Price: </strong>${{item.price}}
                </p>
                
                <p><strong>Category: </strong>{{item.category}}</p>

                <button type="button" class="btn btn-outline-success" (click)="addtoCartExist(item)">
                    Add to cart<span class="badge badge-danger" style="margin-left:5px;">New</span>

                </button>

                <button [routerLink]="['/product-details']" (click)="addtoDetails(item)"  type="button" class="btn btn-outline-link">
                    View Product Details

                </button>

            </div>
        </ng-container>
    </div>
</div>